#container {
    width:100%;
    text-align:center;
    align-items: center;
   }
#container > div { 
    display: inline-block;
    vertical-align: middle;
    text-align:center;
    margin:2%;
    padding:20px;
    align-items: center;
}

.table-head {
    font-weight: bold;
}